<!DOCTYPE html>
<html lang="en">

  <head>

    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nobile" />
    <link href="{% static 'boot-custom.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
  </head>

  <body>
    <!-- Navigation -->
    <div class="container-fluid" style="background-color: white; border-bottom: 1px solid #f3f3f3;">
      <div class="row">
        <div class="col-md-2">
        </div>
         <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light navbar-static-top" style="background-color: white;">

              <a class="navbar-brand" href="{% url 'home' %}">
              <img  src="{% static 'mountains.png' %}" class="d-inline-block align-top" height=50 width=50 />
              </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>

              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
              </div>

              <div class="container-fluid login-btns" style="padding-right: 0px;">
                  {% if user.is_authenticated %}
                  <div class="container">
                      <div  class="row float-right">
                          <div class="col-*">
                            <a class="nav-link float-right" href="{% url 'create' %}"> <span class="oi oi-plus"></span> </a>
                          </div>
                          <div class="col-*" style="padding-left: 10px; right: 0px;">
                              <form id="logout" method="POST" action="{% url 'auth_logout' %}">
                                {% csrf_token %}
                                <a class="float-right" style="padding-right: 0px; right: 0px;" href="javascript:{document.getElementById('logout').submit()}">
                                  <button type="button" class="btn btn-light log-bton ">LOGOUT</button>
                                </a>
                              </form>
                          </div>
                      </div>
                  </div>

                  {% else %}

                  <div class="col">
                    <form id="signup" method="GET" action="{% url 'registration_register' %}">
                        <a class="float-right" href="javascript:{document.getElementById('signup').submit()}">
                          <button type="button" class="btn btn-primary log-bton">SIGN UP</button>
                        </a>
                        {% csrf_token %}
                    </form> -->

                    <form id="login" method="GET" action="{% url 'auth_login' %}" style="padding: 0;">
                        <a class="float-right" href="javascript:{document.getElementById('login').submit()}">
                          <button type="button" class="btn btn-light log-bton">LOG IN</button>
                        </a>
                        {% csrf_token %}
                    </form>

                  </div>
                  {% endif %}
                </div>
            </nav>
         </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <!-- Page Content -->

    <div class="container-fluid">
      <div class="row" >
        <div class="col-sm-2" style="background: #f9f9f9; padding-top: 20px;">
            <div class="row">
              <div class="card container"">

              </div>
            </div>
        </div>

        <main class="col-sm-6" style="background: #f9f9f9; padding-top: 20px;">

              {% block content %}
              {% endblock %}


        </main>
        <div class="col-md-2" style="background: #f9f9f9; padding-top: 20px;">
            <div class="row">

                <div class="card container" >
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col text-center">
                                <h4>Subscribe</h4>
                                <p style="font-size: 12px">Subscriber our newsletter to receive the latest updates and promostions.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email" required>
                                    <input type="submit" class="btn btn-primary" value="Subscribe" style="font-size: 10px; width: 100%; margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="card container" style="margin-top: 5px;">
                        Member List
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-2" style="background: #f9f9f9; position: sticky; top: 10px;">
        </div>

      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>

</html>